@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

header img{
    margin-left: 500px;
}
header h1{
    font-size: 48px;
    float: right;
    margin-right: 710px;
    font-family: 'Libre Baskerville';
    font-weight: lighter;
    width: 550px;
    text-align: center;
}
header {
    background-color: #99B8B8;
}
nav {
    background-color: #46788C;
    padding: 20px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: black;
    margin-right: 80px;

}
body {
    margin: 0;
    font-size: 24px;
    font-family: 'Inter';
}
div {
    margin: 67px 100px 50px 300px;
    display: inline-block;
}
div2 p {
    width: 550px;
    display: inline-block;
    align-items: right;
}
div3 p {
    width: 1200px;
    margin-left: 300px;
}
footer {
    background-color: #46788C;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
}
footer p {
    width: 460px;
    margin-left: 700px;
}
div4 p {
    width: 600px;
    display: inline-block;
    margin-left: 250px;
    margin-top: 75px;
}
div5 img {
    margin-left: 100px;
    display: inline-block;
    margin-right: 250px;
    width: 35%;
    margin-top: 75px;
}
div6 p {
    width: 800px;
    display: inline-block;
    margin-left: 200px;
    margin-top: 40px;
}
div7 img {
    margin-left: 50px;
    display: inline-block;
    margin-right: 200px;
    margin-top: 40px;
}