@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

header img{
    margin-left: 450px;
}
header h1{
    font-size: 48px;
    float: right;
    margin-right: 750px;
    font-family: 'Libre Baskerville';
    font-weight: lighter;
    width: 550px;
    text-align: center;
}
header {
    background-color: #99B8B8;
}
nav {
    background-color: #46788C;
    padding: 20px;
    
}
nav a {
    text-decoration: none;
    color: black;
    margin-right: 50px;

}
body {
    margin: 0;
    font-size: 24px;
    font-family: 'Inter';
}
